absl-py==2.1.0
astunparse==1.6.3
audeer==1.21.0
audformat==1.1.0
audinterface==1.1.0
audiofile==1.3.2
audioread==3.0.1
audmath==1.4.0
audobject==0.7.11
audresample==1.3.3
blinker==1.8.2
cachetools==5.3.3
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==5.1.1
Deep-Learning-Colab-Notebook-Utils @ https://github.com/tugstugi/dl-colab-notebooks/archive/colab_utils.zip#sha256=0ea744205a249743bf894e3c146e3c573ee97e68f75ad78346f5a6800e104b2f
Flask==3.0.3
flatbuffers==24.3.25
gast==0.6.0
google-auth==2.31.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.64.1
gunicorn==22.0.0
h5py==3.11.0
idna==3.6
importlib-metadata==7.0.0
iso-639==0.4.5
iso3166==2.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.3.2
keras==2.15.0
lazy_loader==0.3
libclang==18.1.1
librosa==0.10.1
llvmlite==0.41.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.2.0
msgpack==1.0.7
namex==0.0.8
numba==0.58.1
numpy==1.26.1
oauthlib==3.2.2
opencv-python==4.8.1.78
opensmile==2.5.0
opt-einsum==3.3.0
optree==0.11.0
oyaml==1.0
packaging==23.2
pandas==2.1.4
Pillow==9.5.0
platformdirs==4.1.0
pooch==1.8.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pydub==0.25.1
Pygments==2.18.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt5-stubs==5.15.6.0
PySide6==6.4.1
PySide6-Addons==6.4.1
PySide6-Essentials==6.4.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
scikit-learn==1.3.2
scipy==1.11.4
scitools-pyke==1.1.1
shiboken6==6.4.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.7
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.2.0
tk==0.1.0
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
Werkzeug==3.0.3
wrapt==1.14.1
zipp==3.17.0
